@using Sln_Lidermax.Dtos
@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<TicketsDto>


<div class="table-responsive">
    <table class="table table-hover align-middle text-nowrap">
        <thead class="table-header">
            <tr>           
                <th>Nro Ticket</th>  
                <th>Fecha Recojo</th>
                <th>Razón Social</th> 
                <th>Dirección Envío</th>
                <th>Destino</th>
                <th>Empresa Transporte</th>          
                <th>Modo Envio</th>
                <th>Cajas</th>
                <th>Peso</th>           
                <th>Fecha Despacho</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var u in Model)
            {
                <tr>                 
                    <td data-label="NroTicket">@u?.DocNumTicket</td>
                    <td data-label="FechaRecojo" class="text-end">@u?.FechaRecojo?.ToString("dd/MM/yyyy")</td>
                    <td data-label="RazonSocial">@u?.CardName</td>
                    <td data-label="DireccionEnvio">@u?.Direccion1</td>
                    <td data-label="Destino">@u?.Direccion2</td>
                    <td data-label="Agencia">@u?.Agencia</td>
                    <td data-label="ModoEnvio">@u?.ModoEnvio</td>
                    <td data-label="Cajas" class="text-end">@u?.Cajas</td>
                    <td data-label="Peso" class="text-end">@u?.Peso?.ToString("N2")</td>      
                    <td data-label="FechaDespacho" class="text-end">@u?.FechaDespacho?.ToString("dd/MM/yyyy")</td>
                    <td data-label="Estado">@u?.Estado</td>
                    <td data-label="Acciones" class="text-center">
                        <div class="actions">
                            <a asp-controller="Tickets"
                               asp-action="DetalleTicket"
                               asp-route-id="@u.DocEntryTicket"
                               class="btn btn-sm btn-info"
                               title="Ver detalle">
                                <i class="bi bi-eye"></i>
                            </a>
                            <button class="btn btn-sm btn-primary btn-guiaTransportista"
                                    data-docentryticket="@u.DocEntryTicket"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalGuiaTransportista"
                                    title="@(u?.GuiaTransportista != null ? "La guia transportista ya fue registrada" : "Registrar guia transportista")"
                                    @(u?.Estado == "DEVOLUCION" || u?.GuiaTransportista != null ? "disabled" : "")>
                                <i class="bi bi-file-earmark-text"></i>
                            </button>
                            <button class="btn btn-sm btn-success btn-fecha"
                                    data-docentryticket="@u.DocEntryTicket"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalFecha"
                                    title="@(u?.FechaDespacho != null ? "La fecha de despacho ya fue registrada" : "Registrar fecha despacho")"
                                    @(u?.Estado == "DEVOLUCION" || u?.FechaDespacho != null || u?.GuiaTransportista == null ? "disabled" : "")>
                                <i class="bi bi-calendar-check"></i>
                            </button>

                            <button class="btn btn-sm btn-warning btn-imagen"
                                    data-docentryticket="@u.DocEntryTicket"
                                    data-docnumticket="@u.DocNumTicket"
                                    data-docentryhojaruta="@u.DocEntryHojaRuta"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#modalImagen"
                                    title="Registrar imagenes"
                                    @(u?.Estado == "DEVOLUCION" || u?.Estado == "ENTREGADO" || u?.FechaDespacho == null ? "disabled" : "")>
                                <i class="bi bi-image"></i>
                            </button>
                            <button type="button"
                                    class="btn btn-sm btn-dark btn-entregar"
                                    data-docentryticket="@u.DocEntryTicket"
                                    data-docentryhojaruta="@u.DocEntryHojaRuta"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalEntrega"
                                    @(u?.Estado != "ENVIADO" ? "disabled" : "")>
                                <i class="bi bi-check-circle"></i>
                            </button>

                            <button type="button"
                                    class="btn btn-sm btn-danger btn-anular"
                                    data-docentryticket="@u.DocEntryTicket"
                                    data-docentryhojaruta="@u.DocEntryHojaRuta"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modalDevolucion"
                                    @(u?.Estado == "DEVOLUCION" || u?.Estado == "ENTREGADO" ? "disabled" : "")>
                                <i class="bi bi-x-circle"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mt-2 gap-2">

    <small class="text-muted text-center text-md-start text-md-nowrap flex-shrink-0">
        Mostrando @Model.FirstItemOnPage a @Model.LastItemOnPage de @Model.TotalItemCount registros
    </small>

    <div class="w-100 w-md-auto paginacion">
        @Html.PagedListPager(Model, page => "javascript:cargarTabla(" + page + ")",
        new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination", "mb-0" },
            DisplayLinkToFirstPage = PagedListDisplayMode.Always,
            DisplayLinkToLastPage = PagedListDisplayMode.Always,
            DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
            DisplayLinkToNextPage = PagedListDisplayMode.Always,
            MaximumPageNumbersToDisplay = 5
        })
    </div>
</div>
